@import "bourbon/_bourbon.scss";

$gold: #D4AF37;
$menuBackground: #2D3035;

* {
  font-family: "Open Sans";
}

.title {
  color: rgba(2, 23, 37, 0.7);
  font-weight: 600;
  font-size: 44px;
  text-align: center;
  margin-bottom: 35px;
}

.title-small {
  color: #d4af37;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  margin: 25px;
}

.main-text {
  color: #021725;
  font: 300 18px / 32px "Open Sans";
  text-align: center;
}

.button {
  color: #021725;
  font: 300 14px / 32px "Open Sans";
  text-align: center;
  margin: 25px auto;
  padding: 20px 10px;
  border: 1px solid #021725;
  width: 15rem;
  display: block;
  text-decoration: none;

  &:hover {
    color: $gold;
    border-color: $gold;
  }
}

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  background: $menuBackground;
  text-align: center;

  .menu-section {
    color: #fff;
    margin: 30px 0 5px;
    font-weight: 400;
  }

  #menu-first {
    margin-top: 15%;
  }

  a {
    color: $gold;
    font-size: 1.875rem;
    font-weight: 300;
    text-decoration: none;
    padding: 10px;
    display: block;

    &:hover {
      font-weight: 500;
    }
  }
}

.main-page-header {
  background: url(img/cd-intro-bg.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

.news-header {
  background: url(img/Layer-1.png)no-repeat center;
  background-size: cover;
  height: 70vh;
}

.about-header {
  background: url(img/cd-intro-bg-about.png)center;
  background-size: cover;
  height: 70vh;
}

header {
  width: 100%;

  .logo-img {
    width: 190px;
    height: 42px;
    background: url(img/cd-logo.png) no-repeat center;
    padding: 20px;
    position: fixed;
    z-index: 101;
  }

  nav {
    position: fixed;
    z-index: 100;
    background: $menuBackground;
    opacity: 0.5;
    width: 100%;
    height: 80px;

    .nav-conteiner {
      margin: 27px 0 0 90%;
      position: relative;
      z-index: 200;
      opacity: 1;
    }

    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      font-weight: 200;

      &:hover {
        text-decoration: underline;
      }
    }

    .menuI {
      display: inline-block;
      cursor: pointer;
      background: url(img/menu-lines.png);
      width: 18px;
      height: 18px;
      background-size: cover;
      position: relative;
      opacity: 1;
      top: 3px;
    }

    .menuI-close {
      display: inline-block;
      cursor: pointer;
      background: url(img/menu-x.png);
      width: 18px;
      height: 18px;
      background-size: cover;
      position: relative;
      top: 3px;
    }

  }

  > .title {
    color: #fff;
    font-size: 80px;
    font-weight: 200;
    text-align: center;
    padding-top: 25%;
  }
}

.who-we-are {
  width: 50%;
  margin: 150px auto;
}

.last-post {
  width: 50%;
  margin: 0 auto 100px;
}

.post {
  width: 100%;
  height: 390px;
  .post-img {
    width: 49%;
    float: left;
    background: url(img/news_1.jpg);
    background-position: right;
    background-size: cover;
    height: 390px;
  }

  .post-context {
    width: 49%;
    height: 390px;
    float: right;
    padding-left: 2%;
    background-color: #f9f9f9;

    .date {
      color: #505d68;
      font: 400 13px / 60px "Open Sans";
    }

    .post-name {
      color: #505d68;
      font: 400 30px / 60px "Open Sans";
    }

    .post-text {
      color: #505d68;
      font: 300 16px / 24.7px "Open Sans";
    }

    >.button {
      width: 8rem;
      margin: 3rem 0 0;
      padding: 10px 5px;
    }
  }
}

.clear {
  clear: both;
}

.news-section {
  width: 90%;
  margin: 50px auto;
  padding: 25px 0;
  background-color: #f9f9f9;

  .first-news {
    width: 62%;
    background-color: #fff;
    margin: 50px 4%;
    float: left;
  }

  .news-icon {
      padding-top: 50px;
      text-align: center;
      margin: 0 auto;
    }

    .news-content {
      margin: 0 auto;
      width: 90%;

      > .button {
        margin: 50px 0;
        padding: 10px 5px;
      }
    }

    .news-title {
      color: #000000;
      font: 300 30px / 66px "Open Sans";
    }

    .news-date {
      color: #d3b000;
      font: 300 15px / 66px "Open Sans";
    }

    .news-text {
      color: rgba(2, 23, 37, 0.7);
      font: 400 16px / 25px;
    }

  .news-vidget {
    width: 30%;
    float: right;
    .vidget-title {
      width: 80%;
      padding: 0 0 10px;
      margin-bottom: 15px;
      color: rgba(2, 23, 37, 0.7);
      font: 300 23px / 32px "Open Sans";
      border-bottom: 3px solid #d3b000;
    }

    .vidget-section {
      color: #021725;
      font: italic 16px / 32px "Open Sans";
      display: block;
      text-decoration: none;

      &:hover {
        color: $gold;
      }
    }
  }

}

.about-section {
  width: 70%;
  text-align: center;
  margin: 100px auto;
  .about-text {
    color: rgba(2, 23, 37, 0.7);
    font: 300 18px / 30px "Open Sans";
  }
}

@media screen and (max-width: 800px) {
  .about-section {
    width: 90%;
  }
}

.one-news-section {
  background: #f9f9f9;
  width: 90%;
  margin: 50px auto;

  .one-news-wrapper {
    padding: 50px 0;
    width: 80%;
    margin: 0 auto;
  }

  .one-news-img {
    text-align: center;
  }

  .one-news-title {
    color: #000000;
    font: 300 30px "Open Sans";
    padding: 50px 0 0;
  }

  .one-news-date {
    color: #d3b000;
    font: 300 15px "Open Sans";
    padding-bottom: 50px;
  }

  .one-news-text {
    color: rgba(2, 23, 37, 0.7);
    font: 400 16px;
    line-height: 1.5em;
    padding-bottom: 25px;

    ol {
      list-style-type: decimal;
      padding-left: 20px;
    }

    li {
      padding: 15px 0;
    }
  }
}

footer {
  height: 93px;
  width: 100%;
  background-color: #eeeeee;
  color: #505d68;
  font: 300 16px / 93px "Open Sans";

  a {
    color: #505d68;
    text-decoration: none;

    &:hover {
      font-weight: 400;
    }
  }

  .footer-left {
    width: 45%;
    float: left;
    text-align: right;
    padding-right: 5%;

  }

  .footer-right {
    width: 45%;
    float: right;
    text-align: left;
    padding-left: 5%;
  }
}

@media screen and (max-width: 1100px) {
  .last-post {
    width: 80%;
  }

  .who-we-are {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  footer {
    height: auto;

    .footer-left {
      float: none;
      width: 100%;
      padding: 0;
      text-align: center;
    }

    .footer-right {
      float: none;
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}


@media screen and (max-width: 870px) {

  header nav .nav-conteiner {
    margin-left: 85%;
  }

  .news-section {
    .first-news {
      width: 90%;
    }

    .news-vidget {
      display: none;
    }
  }

}
